.btn-pokedex {
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-lateral {
  top: 78%;
  width: 8%;
  height: 5%;
}

.btn-vertical {
  left: 68%;
  width: 6%;
  height: 7%;
}

.next-pokemon {
  left: 74%;
}

.previous-pokemon {
  left: 60%;
}

.next-evolution-pokemon {
  top: 72%;
}

.previous-evolution-pokemon {
  top: 82%;
}

.add-favorite {
  top: 71%;
  left: 10%;
  width: 11%;
  height: 7%;
  clip-path: circle(50% at 50% 50%);
}

.see-favorites {
  position: fixed;
  border: none;
  bottom: 5%;
  left: 5%;
  width: 100px;
  height: 100px;
  clip-path: circle(50% at 50% 50%);
  background-image: url(./../../assets/images/Pokeball-button.png);
  background-size: cover;
  z-index: 2;
  cursor: pointer;
}

.see-favorites:hover {
  animation: jump-pokeball 1s;
}

@keyframes jump-pokeball {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 621px) {
  .see-favorites {
    bottom: -5%;
    left: -5%;
  }
}