.btn-pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: gray;
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

.btn-lateral {
  top: 78.2%;
  width: 8%;
  height: 5%;
}

.btn-vertical {
  left: 68%;
  width: 6%;
  height: 7%;
}

.next-pokemon {
  left: 74%;
}

.previous-pokemon {
  left: 60%;
}

.next-evolution-pokemon {
  top: 72%;
}

.previous-evolution-pokemon {
  top: 82%;
}

.add-favorite {
  top: 71%;
  left: 10%;
  width: 11%;
  height: 7%;
  clip-path: circle(50% at 50% 50%);
}

.see-favorites {
  position: fixed;
  border: none;
  bottom: 5%;
  left: 5%;
  width: 100px;
  height: 100px;
  clip-path: circle(50% at 50% 50%);
  background-image: url(./../../assets/images/Pokeball-button.png);
  background-size: cover;
  z-index: 2;
  cursor: pointer;
}

.see-favorites:hover {
  animation: jump-pokeball 1s;
}

@keyframes jump-pokeball {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 621px) {
  .see-favorites {
    bottom: -5%;
    left: -5%;
  }
}

.close-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: crimson;
  border: none;
  cursor: pointer;
}

.button-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin-left: 10px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.information-pokemon {
  background-color: cornflowerblue;
}

.remove-pokemon {
  background-color: crimson;
}